In [39]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [73]:
tcs = pd.read_csv('./datasets/TCS.csv', index_col = 'Date')

In [74]:
tcs.head()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2004-08-25,TCS,EQ,850.00,1198.7,1198.7,979.00,985.00,987.95,1008.32,17116372,1.725876e+15,NaN,5206360,0.3042
2004-08-26,TCS,EQ,987.95,992.0,997.0,975.30,976.85,979.00,985.65,5055400,4.982865e+14,NaN,1294899,0.2561
2004-08-27,TCS,EQ,979.00,982.4,982.4,958.55,961.20,962.65,969.94,3830750,3.715586e+14,NaN,976527,0.2549
2004-08-30,TCS,EQ,962.65,969.9,990.0,965.00,986.40,986.75,982.65,3058151,3.005106e+14,NaN,701664,0.2294
2004-08-31,TCS,EQ,986.75,986.5,990.0,976.00,987.80,988.10,982.18,2649332,2.602133e+14,NaN,695234,0.2624

In [42]:
rel = pd.read_csv('./datasets/RELIANCE.csv', index_col = 'Date')

In [43]:
rel.head()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2000-01-03,RELIANCE,EQ,233.05,237.50,251.70,237.50,251.70,251.70,249.37,4456424,1.111319e+14,NaN,NaN,NaN
2000-01-04,RELIANCE,EQ,251.70,258.40,271.85,251.30,271.85,271.85,263.52,9487878,2.500222e+14,NaN,NaN,NaN
2000-01-05,RELIANCE,EQ,271.85,256.65,287.90,256.65,286.75,282.50,274.79,26833684,7.373697e+14,NaN,NaN,NaN
2000-01-06,RELIANCE,EQ,282.50,289.00,300.70,289.00,293.50,294.35,295.45,15682286,4.633254e+14,NaN,NaN,NaN
2000-01-07,RELIANCE,EQ,294.35,295.00,317.90,293.00,314.50,314.55,308.91,19870977,6.138388e+14,NaN,NaN,NaN

In [44]:
common_dates = pd.merge(tcs, rel, on='Date').index
common_dates

In [46]:
tcs = tcs.loc[common_dates, :]
rel = rel.loc[common_dates, :]

In [47]:
tcs.count()

Symbol                4139
Series                4139
Prev Close            4139
Open                  4139
High                  4139
Low                   4139
Last                  4139
Close                 4139
VWAP                  4139
Volume                4139
Turnover              4139
Trades                2456
Deliverable Volume    4139
%Deliverble           4139
dtype: int64

In [48]:
rel.count()

Symbol                4139
Series                4139
Prev Close            4139
Open                  4139
High                  4139
Low                   4139
Last                  4139
Close                 4139
VWAP                  4139
Volume                4139
Turnover              4139
Trades                2456
Deliverable Volume    4134
%Deliverble           4134
dtype: int64

In [49]:
tcs.isna().sum()

Symbol                   0
Series                   0
Prev Close               0
Open                     0
High                     0
Low                      0
Last                     0
Close                    0
VWAP                     0
Volume                   0
Turnover                 0
Trades                1683
Deliverable Volume       0
%Deliverble              0
dtype: int64

In [50]:
rel.isna().sum()

Symbol                   0
Series                   0
Prev Close               0
Open                     0
High                     0
Low                      0
Last                     0
Close                    0
VWAP                     0
Volume                   0
Turnover                 0
Trades                1683
Deliverable Volume       5
%Deliverble              5
dtype: int64

In [51]:
nan_dates = rel[rel['%Deliverble'].isna() | rel['Deliverable Volume'].isna()].index
nan_dates

In [54]:
tcs.drop(nan_dates, inplace=True)
rel.drop(nan_dates, inplace=True)

In [55]:
tcs.count()

Symbol                4134
Series                4134
Prev Close            4134
Open                  4134
High                  4134
Low                   4134
Last                  4134
Close                 4134
VWAP                  4134
Volume                4134
Turnover              4134
Trades                2456
Deliverable Volume    4134
%Deliverble           4134
dtype: int64

In [56]:
rel.count()

Symbol                4134
Series                4134
Prev Close            4134
Open                  4134
High                  4134
Low                   4134
Last                  4134
Close                 4134
VWAP                  4134
Volume                4134
Turnover              4134
Trades                2456
Deliverable Volume    4134
%Deliverble           4134
dtype: int64

In [57]:
rel.isna().sum()

Symbol                   0
Series                   0
Prev Close               0
Open                     0
High                     0
Low                      0
Last                     0
Close                    0
VWAP                     0
Volume                   0
Turnover                 0
Trades                1678
Deliverable Volume       0
%Deliverble              0
dtype: int64

In [58]:
tcs.isna().sum()

Symbol                   0
Series                   0
Prev Close               0
Open                     0
High                     0
Low                      0
Last                     0
Close                    0
VWAP                     0
Volume                   0
Turnover                 0
Trades                1678
Deliverable Volume       0
%Deliverble              0
dtype: int64

In [61]:
tcs_missing_trades = tcs[tcs['Trades'].isna()].index
rel_missing_trades = rel[tcs['Trades'].isna()].index

In [67]:
(tcs_missing_trades == rel_missing_trades).all()

True

In [77]:
%%time

8.98 ms ± 765 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [72]:
tcs.columns

Index(['Symbol', 'Series', 'Prev Close', 'Open', 'High', 'Low', 'Last',
       'Close', 'VWAP', 'Volume', 'Turnover', 'Trades', 'Deliverable Volume',
       '%Deliverble'],
      dtype='object')